BasedOnStyle: WebKit
AlignAfterOpenBracket: Align
AlignConsecutiveAssignments: 'true'
BreakBeforeBraces: Allman
BreakBeforeInheritanceComma: 'true'
Cpp11BracedListStyle: 'true'
IndentCaseLabels: 'true'
IndentWidth: '4'
Language: Cpp
MaxEmptyLinesToKeep: '1'
NamespaceIndentation: Inner
PenaltyBreakString: '100'
PointerAlignment: Middle
SpaceAfterCStyleCast: 'true'
SpaceBeforeAssignmentOperators: 'true'
Standard: Cpp11
TabWidth: '4'
UseTab: Never
AllowShortFunctionsOnASingleLine: false
AllowShortIfStatementsOnASingleLine: false
ConstructorInitializerAllOnOneLineOrOnePerLine: true
AlignTrailingComments: true
AllowAllParametersOfDeclarationOnNextLine: false
AllowShortCaseLabelsOnASingleLine: true
AlwaysBreakAfterDefinitionReturnType: None
AlwaysBreakAfterReturnType: None